@{
    ViewBag.Title = "Change project";
}
@model EnteringProjectData.Data.Models.Project
<div class="row">
    <form asp-action="ChangeProject" class="form-horizontal" asp-route-id="@Model.ProjectId">
        <div class="form-group">
            <label asp-for="ProjectName">ProjectName</label>
            <div class="col-md-5">
                <input asp-for="ProjectName" class="form-control-color" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerCompanyName">CustomerCompanyName</label>
            <div class="col-md-5">
                <input asp-for="CustomerCompanyName" class="form-control-color" />
                <span asp-validation-for="CustomerCompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExecutingCompanyName">ExecutingCompanyName</label>
            <div class="col-md-5">
                <input asp-for="ExecutingCompanyName" class="form-control-color" />
                <span asp-validation-for="ExecutingCompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate.Date">StartDate</label>
            <div class="col-md-5">
                <input asp-for="StartDate.Date" class="form-control-color" />
                <span asp-validation-for="StartDate.Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate.Date">EndDate</label>
            <div class="col-md-5">
                <input asp-for="EndDate.Date" class="form-control-color" />
                <span asp-validation-for="EndDate.Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Priority">Priority</label>
            <div class="col-md-5">
                <input asp-for="Priority" class="form-control-color" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
        </div>
        <form>
            <label>Сотрудники:</label>
            @if (Model.EmployeeProjects != null)
            @foreach (var comp in Model.EmployeeProjects)
            {
                <label value="@comp.Employee.EmployeeID">@comp.Employee.Email</label>
            }
            else
            {
                <label>Нет сотрудников</label>
            }
            @* <input class="btn btn-danger" type="submit" value="Delete" /> *@
        </form>
    </form>
</div>
