@{
    ViewBag.Title = "Create project";
}
@model EnteringProjectData.Data.Models.Project
<div class="row">
    <h3>Create project</h3>
    <form asp-action="CreateProject" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="ProjectName">ProjectName</label>
            <div class="col-md-5">
                <input asp-for="ProjectName" class="form-control-color"/>
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerCompanyName">CustomerCompanyName</label>
            <div class="col-md-5">
                <input asp-for="CustomerCompanyName" class="form-control-color" />
                <span asp-validation-for="CustomerCompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExecutingCompanyName">ExecutingCompanyName</label>
            <div class="col-md-5">
                <input asp-for="ExecutingCompanyName" class="form-control-color" />
                <span asp-validation-for="ExecutingCompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate">StartDate</label>
            <div class="col-md-5">
                <input asp-for="StartDate" type="date" class="form-control-color" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate">EndDate</label>
            <div class="col-md-5">
                <input asp-for="EndDate" type="date" class="form-control-color" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Priority">Priority</label>
            <div class="col-md-5">
                <input asp-for="Priority" class="form-control-color" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-danger" type="submit" value="Create project"/>
    </form>
</div>